<script>

    function d(x) {
       
        $.ajax(
            {
                type: "POST",
                url: "/bills/Deleteproductfrombill",
                data: { id: x },
                datatype: "json",

            }

        )
        $("#div1").load("/Bills/GetPartial");
    };

</script>

@model IEnumerable<Cashier_System.Models.Product>
<div id="container">
    <ul class="employees">

       
        @foreach (var p in Model)
        {
            <li>
                <img src="~/images/@p.photo" width="80" height="80" style="border-radius:20%; " /><br />
                <i>@p.Name</i>
                <i>@p.SellingPrice</i><br />

                <button class="btn btn-danger" onclick="d(@p.Id)">delete</button>
            </li>
           }




        
    </ul>
    
</div>