
@model Cashier_System.Models.CreateBillViewModel
@using Microsoft.AspNetCore.Identity
@using Cashier_System
@using Cashier_System.Data
@namespace Cashier_System.Pages
    <link href="~/css/createBill.css" rel="stylesheet" />
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<style>
    .card-deck {
        width: 48%;
        position: absolute;
        top: 12%;
        left: 41.5%;
    }

    .card-deck .card {
            margin-right: 10px;
            margin-bottom: 0px;
            margin-left: 0px;
    }




    /* .card-img-top {
    width: 100%;
    height: 36%;
} */

    form {
        display: inline-block;
        position: absolute;
        top: 65%;
        right: 72%;
    }


    /* //////////////////// */

    .card-footer {
        text-align: left;
        font-size: 0.7rem;
    }

    .card-footer {
        padding: 0.2rem 0.3rem;
        background-color: white;
        border-top: none;
    }

    .card-p {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .card-price {
        position: absolute;
        display: flex;
        right: 1%;
        padding: 2% 10%;
        background-color: #4a47a3;
        border-radius: 2px;
    }

    .card-img-top {
        width: 100%;
        height: 66%;
    }


    /* //////////////////// */

    .card-body {
        padding: 5px 0px 0px 3px;
        margin-bottom: -10px;
    }

    .btn {
        padding: 7px 15px;
        color: black;
        letter-spacing: 1.8px;
    }

    .card-title {
        margin-bottom: .0rem;
        line-height: 1.3;
    }

    .price {
        margin-right: 10px;
        float: right;
    }

    .heyy {
        width: 80%;
    }

    h5 {
        font-size: 0.88rem;
        font-weight: 400;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .table-div {
        display: table-caption;
        height: 150px;
        width: 22rem;
    }

    td,
    th {
        border: 0.8px solid #dddddd;
        text-align: left;
        padding: 2px 15px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .scrollbar {
        margin-left: 20px;
        float: left;
        height: 309px;
        width: auto;
        background: #F5F5F5;
        overflow-y: auto;
        margin-bottom: 25px;
        position: relative;
        top: 11.5%;
    }

    #style-1::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(13, 25, 94, 0.3);
        background-color: #23689b;
    }
</style>

<script src="~/js/AjaxMethods.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="~/css/Create_Bills.css" rel="stylesheet" />
<script>
    var x = 5;


    function a(x) {
        $.ajax(
            {
                type: "POST",
                url: "/bills/Addproducttobill",
                data: { code: x },
                datatype: "json",
                success: function (result) {


                    $("#div1").load("/bills/GetPartial");
                }
            }

        )


    };

</script>
<style>
    #container {
        padding: 10px;
    }

        #container ul {
            list-style-type: none;
            text-align: center;
            font-size: 0;
        }

            #container ul li {
                display: inline-block;
                width: 160px;
                margin: 10px;
                font-size: 14px;
            }

                #container ul li img {
                    width: 100px;
                }

    .button-info {
        margin: 10px;
    }

    .dx-popup-content p {
        margin-bottom: 10px;
        margin-top: 0;
    }
</style>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*
    @{ if (SignInManager.IsSignedIn(User))
        {
            <button class="b">load partialview</button>
            <div class="container" id="div1">

            </div>
            <div id="container">
                <ul class="employees">



                    @foreach (var p in Model.AllProduct)
                    {
                        <li>
                            <img src="~/images/@p.photo" width="80" height="80" style="border-radius:20%; " /><br />
                            <i>@p.Name</i>
                            <i>@p.SellingPrice</i><br />
                            <button class="btn btn-success" onclick="a(@p.Id)">add</button>


                        </li>

                    }
                </ul>
                <form asp-action="Create_bill" method="post">

                    <label>Add Discount</label><input name="Discount" value="0" />
                    <label>Add Taxes</label><input name="Taxes" value="0" />
                    <input type="submit" value="CheckOut" />
                </form>
            </div>
            if (ViewBag.QuantityError != null)
            {
                <h1 style="color:red">@ViewBag.QuantityError</h1>
            }
        }

        else
        {

            <h1>YOU MUST LOGIN FIRST</h1>
        } }
*@
<div class="card-deck row">
    @foreach (var p in Model.AllProduct)
    {
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">

                <h5 class="card-price">$500</h5>
                <img class="card-img-top" src="~/images/6010cashierlogo.jpg" alt="Card image cap">
                <!-- <div class="card-body">
                    <h5 class="card-title">BMW <br>500</h5>

                </div> -->
                <div class="card-footer">
                    <p class="card-p">Conference Chair (CONFIG) (Steel)</p>
                </div>

            </div>
        </div>
    }
</div>
        <div class="container" id="div1">

        </div>


        <script>
            // var selectedItem = document.querySelectorAll('.btn');
            // selectedItem.addEventListener('click', function(ev) {

            //     console.log(ev.type, ev.target);

            // });

            var closebtns = document.getElementsByClassName("close");


            for (i = 0; i < closebtns.length; i++) {
                closebtns[i].addEventListener("click", function () {
                    this.parentElement.parentElement.style.display = 'none';
                });
            }
        </script>
