
@media(max-width:1235px) {
    .card-deck {
        width: 70%;
        position: absolute;
        top: 22%;
        left: 33%;
    }
}
@media(max-width:995px) {
    .card-deck {
        width: 60%;
        position: absolute;
        top: 12%;
        left: 50%;
    }
}

