@page
@model Cashier_System.Pages.BillsModel
    <script>
    var list = [];

        function AddId(x) {
            list.push(x);
        }

        function A() {
            console.log(list);
        }
    </script>
    <style>
        #container {
            padding: 10px;
        }

            #container ul {
                list-style-type: none;
                text-align: center;
                font-size: 0;
            }

                #container ul li {
                    display: inline-block;
                    width: 160px;
                    margin: 10px;
                    font-size: 14px;
                }

                    #container ul li img {
                        width: 100px;
                    }

        .button-info {
            margin: 10px;
        }

        .dx-popup-content p {
            margin-bottom: 10px;
            margin-top: 0;
        }
    </style>

    <div id="container">





        <ul class="employees">
            @foreach (var p in Model.products)
            {
            <li>
                <img src="~/images/@p.photo" width="80" height="80" style="border-radius:20%; " /><br />
                <i>@p.Name</i>
                <i>@p.SellingPrice</i><br />

                @{
                  
                    <button type="submit" onclick="AddId(@p.Id);" class="btn btn-success" style="width:85px; height:40px;">Add</button>

                }

            </li>
                       }


            }
        </ul>
        <button   onclick="A();" class="btn btn-success" style="width:85px; height:40px;" >Id</button>
    </div>
<div style="padding-left:-20px; background-color:greenyellow; width:150px; height:400px;"></div>
