@page
@model Cashier_System.Pages.StoreModel
@{
    ViewData["Title"] = "Store";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>


@*

    @(Html.DevExtreme().DataGrid< DevExtreme.AspNet.Demos.Models.DataGrid.>()
        .ID("gridContainer")
        .ShowBorders(true)
        .RtlEnabled(true)
        .DataSource(d => d.Mvc()
                .Controller("Store")
                .LoadAction("Get")
        )
        .Columns(c => {

            c.Add().DataField("كود المنتج ");
            c.Add().DataField("اسم المنتج ");
            c.Add().DataField("سعر الشراء  ");
            c.Add().DataField("سغر البيع");
            c.Add().DataField("صورة المنتج");
            c.Add().DataField(" الكمية");
        })
    )
*@
@(Html.DevExtreme().DataGrid<Cashier_System.Models.Product>
    ()
    .DataSource(ds => ds.Mvc()
    .Controller("Store")
    .LoadAction("Get")

    .UpdateAction("Updateproduct").
    InsertAction("post").DeleteAction("Delete")
    .Key("Id")
    )
    .Export(e => e.Enabled(true))
    .ShowBorders(true)
    .OnExporting("exporting")
    .SearchPanel(s => s
    .Visible(true)
    .Placeholder("اكتب لنبدء البحث ")
    .Width(300)
    .HighlightCaseSensitive(true)
    )
    .RtlEnabled(true)
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.Name);

        columns.AddFor(m => m.Quantity);

        columns.AddFor(m => m.PurchasingPrice);

        columns.AddFor(m => m.SellingPrice);
         columns.AddFor(m => m.photo)
        
            .Width(150)
            .AllowFixing(true)
            .AllowResizing(true)            
            .AllowFiltering(false)
            .AllowSorting(false)
            .CellTemplate(@<text >
                <div style="height:80px;">
                    <img src="~/images/c3pc.jpg" alt=""/>
                </div>
            </text>);


    })
    .Editing(e =>
    {
        e.Mode(GridEditMode.Form);
        e.AllowUpdating(true);
        e.AllowDeleting(true);



   e.UseIcons(true);
    }
    

    )
    )
<script>
    function exporting(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('Employees');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Product.xlsx');
            });
        });
        e.cancel = true;
    }
</script>
